body{
    background-color: lightgrey;
}
.plot1{
    font-size: 30px;
}
.side-panel{
    font-size: 30px;
}
ul.dropdownPlots{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: grey;
}
#navi-large {
    display: inline-flexbox;
  }
@media (max-width: 768px) {
    #navi-large {
      display: none;
    }
  }

#small-nav{
    display: inline-flexbox;
}
@media (min-width: 768px) {
    #small-nav{
        display: none;
    }
}

#small-content{
    display: inline-flexbox;
}
@media (min-width: 768px){
    #small-content{
        display: none;
    }
}

#large-content{
    display: inline-flexbox;
}
@media (max-width: 768px){
    #large-content{
        display: none;
    }
}
